.post{
    margin-top: 130px;
    width : 920px;
}
.post h1{
    font-size:38px;
    margin-bottom: 30px;
}
.post .post__date{
    margin-bottom: 60px;
    font-size:15px;
}
.post .post__content{
}

.post__content h3{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
}
