.postlist{
    border-style: solid;
    border-bottom-width: 1px;
    border-color: gray;
    width: 600px;
}
.postlist h2{
   font-weight: 800;
   font-size: 30px;
}
.postlist p{
    color: lightgray;
    font-size: 10px;
 }