.sidebar{
    width : 170px;
    font-size: 15px;
    padding: 30px;
}
.sidebar .sidebar__title{
    color:green;
    font-size: 18px;
    font-weight: 700;
}
.sidebar .sidebar__nav li{
    padding-top: 10px;
}