.sidebar{
    width : 120px;
    font-size: 15px;
}
.sidebar .sidebar__title{
    color:green;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 700;
}
.sidebar .sidebar__nav li{
    padding: 3px;
}