---
layout: default
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Tech Note</title>
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
  </head>
  <body>
    <header>
      <div class="header">
        <div class="header__div">
          <div class="header__title">
            <a href="{{ "/" | relative_url }}">
              차곡차곡 기술 블로그
            </a>
          </div>
        </div>
      </div>
    </header>
    {{ content }}
    <footer>
      ♧ Da-Ae Kwon. All rights reserved. Powered by GitHub Pages.
    </footer>
  </body>
</html>